body {
    font-family: Arial, sans-serif;
    background-image: url("./Frontispício-da-primeira-edição-da-Sinfonia-N.º-8-de-Beethoven.jpg");
    color: aliceblue;
}

#title{
    color: white;
    font-weight: bolder;
    font-size: 5vh;
    text-align: center;
}

#TdateChile {
    color: red;
    font-size: 10vw;
    text-align: center;
}

.btn {
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: transparent;
    cursor: pointer;
    z-index: 1; /* Para que esté por encima del texto */
    width: auto;
    height: auto;
}