body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    /* color: aliceblue; */
}

/*#title{
    color: white;
    font-weight: bolder;
    font-size: 5vh;
    text-align: center;
}*/

#TdateChile {
    color: red;
    font-size: 11vw;
    text-align: center;
    position: relative;
    top: -4vh;
}

#text {
    /* animation: JumpDown 0.5s forwards;
    animation-timing-function: ease-out; */
    color: white;
    font-size: 3vh;
    text-align: center;
    position: absolute;
    top: 9vh;
    left: 3vw;
}

#Guion {
    color: white;
    font-size: 3vh;
    text-align: center;
}

#Acita {
    color: white;
    font-size: 2.5vh;
    position: absolute;
    right: 18vw;
}

.btn {
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: transparent;
    cursor: pointer;
    z-index: 1; /* Para que esté por encima del texto */
    width: auto;
    height: auto;
}

/*#Gvideo {
    position: relative;
    top: -25vh;
    width: 67vw;
    left: 17vw;
}*/

/* @keyframes JumpDown {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes JumpTop {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-200%);
    }
}*/